body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to bottom, #ffffff 0%, #3399ff 100%); */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 75px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.navbar {
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.2);
}

#main_img {
    -webkit-box-shadow: 10px 10px 87px 14px rgba(0,0,0,0.28);
    -moz-box-shadow: 10px 10px 87px 14px rgba(0,0,0,0.28);
    box-shadow: 10px 10px 87px 14px rgba(0,0,0,0.28);
}
